* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

#botoes {
  margin-bottom: 20px;
}

#botoes button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botoes button:hover {
  background-color: #0056b3;
}

#jogo {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
}

#jogo div {
  background-color: #ffffff; /* Fundo branco */
  border: 2px solid #007bff; /* Bordas azuis */
  font-size: 36px;
  color:  #000000; ; /* Cor do texto azul */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para fundo e cor */
}

#jogo div:hover {
  background-color: #b5d3f3; /* Fundo azul ao passar o mouse */
  color:#0051ff /* Texto branco ao passar o mouse */
}

#status {
  margin-top: 20px;
  font-size: 18px;
  color: #000000; /* Cor azul para o status */
  text-align: center;
}
